@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

body {
    font-family: 'Poppins', sans-serif;
}

.container {
    max-width: 1400px;
    margin: 0 auto;

}

.header {
    background-image: linear-gradient(rgba(0, 0, 0, 0.7),
            rgba(0, 0, 0, 0.7)),
        url(../Img/img1.png);
    background-position: center bottom;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 70vh;
    display: flex;
    align-items: center;
}

.container img {
    width: 6rem;
    margin-top: 20px;
    margin-left: 20px;
}

.menu {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    background-image: url(Img/Logo.png);
    color: #fffdfc;
    font-size: 25px;
}

.menu .navbar ul li {
    position: relative;
    float: left;
}

.menu .navbar ul li a {
    font-size: 18px;
    padding: 20px;
    color: #fffdfc;
    display: block;
    font-weight: 600;
    transition: all ease .4s;
}

.menu .navbar ul li a:hover {
    color: #59c459;
}

#menu {
    display: none;
}

.menu-icono {
    width: 25px;
}

.menu label {
    cursor: pointer;
    display: none;

}

.header-content {
    text-align: center;
}

.header-content h1 {
    font-size: 75px;
    line-height: 80px;
    color: whitesmoke;
    text-transform: uppercase;
    margin: 50px 0 50px 0;

}

.header-content p {
    font-size: 18px;
    color: whitesmoke;
    padding: 0 250px;
    margin-bottom: 25px;
}

.btn-1 {
    display: inline-block;
    padding: 11px 35px;
    background-color: red;
    text-transform: uppercase;

}

.btn-1:hover {
    background-color: orangered;
}

.coffee {
    padding: 60px;
    background-color: #ecececde;
    position: relative;

}

.coffee-content {
    text-align: center;
}

.coffee-content h2 {
    font-size: 60px;
    line-height: 70px;
    color: black;
    text-transform: uppercase;
    padding: 0 150px;
    margin-bottom: 30px;
}

.txt-p {
    font-size: 16px;
    color: black;
    padding: 0 250px;
    margin-bottom: 30px;
}

.coffee-group {
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 50px;
}

.coffee-1 {
    /* padding: 25px; */
    width: 25%;
}

.coffee-1 img {
    width: 250px;
    height: 15rem;
    border-radius: 20px;
    margin-bottom: 20px;
}

.coffee-img {
    position: absolute;
    top: 0;
    right: 0;

}

.coffee-1 h3 {
    color: black;
    font-size: 24px;
    margin-bottom: 15px;

}

.coffee-1 p {
    margin: 0;
}

.centros {
    background-image: linear-gradient(rgba(0, 0, 0, 0.8),
            rgba(0, 0, 0, 0.8)),
        url(imgimg5.jpeg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    padding: 80px 0;
    width: 100%;

}

.centros h2 {
    text-align: center;
    color: #ffffff;
    font-size: 60px;
    margin-bottom: 30px;
}

.articulos {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.centros article {
    width: 26%;
    background-color: #fcfcfcc9;
    border-radius: 20px;
    margin: 40px auto;
    text-align: center;
}

.centros img {
    width: 70%;
    height: 12rem;
    margin: 30px auto;
    border-radius: 20px;
}

.centros h3 {
    text-align: center;
    margin-bottom: 20px;
    font-size: 22px;
}

.centros p {
    text-align: center;
    margin: 0 30px 30px;
    font-size: 18px;
}

.centros button {
    border-style: none;
    width: 45%;
    height: 2.5rem;
    margin: 0 auto 20px auto;
    /* color: #ffffff; */
    background: #838383;
    border-radius: 10px;
    font-size: 16px;
    padding: 10px;
    transition: all ease .4s;
    color: #ffffff;
}

.centros button:hover {
    background: #194b28;
    color: #ffffff;
    cursor: pointer;

}

.general {
    display: flex;

}

.general-1 {
    width: 50%;
    padding: 60px 70px 100px;
    background-color: beige;
    height: 25rem;
}

.general-1 p {
    font-size: 18px;
    text-align: justify;
}

.general-2 {
    background-image: url(../Img/img_0116.jpeg);
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: cover;
    width: 50%;

}

.general-3 {
    background-image: url(../Img/img_0121.jpeg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 50%;
    height: 25rem;
}

.general-4 {
    width: 50%;
    padding: 60px 70px 100px;
    background-color: beige;
    height: 25rem;
}

.general-4 p {
    font-size: 18px;
    text-align: justify;
}

h2 {
    font-size: 55px;
    line-height: 70px;
    color: black;
    text-transform: uppercase;
    margin-bottom: 20px;

}

p {
    font-size: 16px;
    color: black;
    margin: 25px 0 45px 0;
}

.blog {
    padding: 100px 0;
    text-align: center;

}

.blog-content {
    display: flex;
    justify-content: space-between;
}

.blog-1 {
    padding: 15px 55px;
}

.blog-1 img {
    width: 250px;
    border-radius: 15px;

}

.blog-1 h3 {
    font-size: 25px;
    color: black;
}


.blog-content button {
    border-style: none;
    width: 45%;
    height: 2.5rem;
    margin: 0 auto 20px auto;
    /* color: #ffffff; */
    background: #d8d8d8;
    border-radius: 10px;
    font-size: 16px;
    padding: 10px;
    transition: all ease .4s;
}

.blog-content button:hover {
    background: #194b28;
    color: #ffffff;
    cursor: pointer;

}

.copyright {
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #000000;
}

.copyright p {
    color: #ffffff;
    font-size: 18px;
    margin: 20px 50px;
}

.social {
    margin-right: 40px;
}

.social a {
    color: #ffffff;
    padding: 10px;

}

.social i {
    color: #ffffff;

}

.ad {
    padding: 10px 20px;
    background: #474fa0;
    color: #ffffff;
    border-radius: 0.5rem;
    align-items: center;
}
































.newsletter {
    background: linear-gradient(to top right, #5a3dfe, #474fa0);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.newsletter h2 {
    color: #fff;
    font-size: 1.8rem;

}

.newsletter .box {
    margin-top: 1rem;
    background: #fff;
    border-radius: 0.5rem;
    padding: 4px 8px;
    width: 350px;
    display: flex;
    justify-content: space-between;
}

.newsletter .box input {
    border: none;
    outline: none;
}

.newsletter .box .btn {
    background: #474fa0;
    color: #fff;
    padding: 8px 20px;
    border-radius: 0.5rem;
}

.copyright {
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.social a {
    color: #444;
    padding: 10px;
    font-size: 21px;
}

.ad {
    padding: 10px 20px;
    background: #474fa0;
    color: #fff;
    border-radius: 0.5rem;
    align-items: center;
}